% This file managed by Puppet
% Template Path: <%= module_name %>/templates/rabbitmq.config
[

<% if config_cluster || config_ssl -%>
{rabbit, 
<% end %>
<% if config_cluster %>
[{cluster_nodes, [<%= cluster_disk_nodes.map { |n| "\'rabbit@#{n}\'" }.join(', ') %>]}]}
<% end %>

<% if config_cluster && config_ssl -%>,<% end %>
<% if config_ssl%>
[
    {ssl_listeners, [<%= ssl_port %>]},
    {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
                   {certfile,"/etc/rabbitmq/ssl/server_cert.pem"},
                   {keyfile,"/etc/rabbitmq/ssl/server_key.pem"},
                   {verify,verify_peer},
                   {fail_if_no_peer_cert,true}]}
]
<% end -%>
<% if config_cluster || config_ssl -%>}<% end %>
<% if (config_cluster || config_ssl ) && config_stomp -%>,<% end %>
<% if config_stomp -%>
% Configure the Stomp Plugin listening port
{rabbitmq_stomp, [{tcp_listeners, [<%= stomp_port %>]} ]}
<% end -%>
].
% EOF
