% This file managed by Puppet
% Template Path: <%= module_name %>/templates/rabbitmq.config
[
<% if config_cluster -%>
{rabbit, [{cluster_nodes, [<%= cluster_disk_nodes.map { |n| "\'rabbit@#{n}\'" }.join(', ') %>]}]}<% if config_stomp -%>,<% end %>
<% end -%>
<% if config_stomp -%>
% Configure the Stomp Plugin listening port
{rabbitmq_stomp, [{tcp_listeners, [<%= stomp_port %>]} ]}
<% end -%>
].
% EOF
